body {
    margin: 0px;
    font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    color: #303030;
}

// header

/* global navigation */

#g-nav {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 70%;
    width: 70%;
    height: 100vh;
    background: #ffffff;
    opacity: 0.95;
    transition: all 1.0s;
}

#g-nav.panelactive {
    right: 0;
}

#g-nav.panelactive #g-nav-list {
    position: fixed;
    z-index: 999;
    width: 70%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav ul {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#g-nav li {
    list-style: none;
    text-align: center;
}
  
#g-nav li a h1{
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;

    @media screen and (max-width: 400px) {
        font-size: smaller;
    }
}

#g-nav li span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 0;
    height: 1px;
    border-radius: 2px;
    background-color: #ffffff;
    width: 100%;
}

.open_btn {
    position: fixed;
    z-index: 9999; /*ボタンを最前面に*/
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.open_btn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: -14px;
    height: 1px;
    border-radius: 2px;
    background-color: #ede3d3;
    width: 100%;
}

.open_btn span:nth-of-type(1) {
    top: 15px; 
}

.open_btn span:nth-of-type(2) {
    top: 23px;
}
  
.open_btn span:nth-of-type(3) {
    top: 31px;
}
  
.open_btn.active span:nth-of-type(1) {
    top: 18px;
    left: -18px;
    transform: translateY(6px) rotate(-45deg);
    width: 100%;
}

.open_btn.active span:nth-of-type(2) {
    opacity: 0;
}
  
.open_btn.active span:nth-of-type(3){
    top: 30px;
    left: -18px;
    transform: translateY(-6px) rotate(45deg);
    width: 100%;
}


// hero

/* hero mp4 */

.hero_container {
    position: relative;
    width: 100%;
    height: 100%;

    .hero_mov {
        width: 100%;
        @media screen and (max-width: 400px) {
            width: calc(100%);
            height: 500px;
            object-fit: cover;
        }
    }
    
    /* hero logo */

    .hero_logo {
        z-index: 900;
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        width: calc(100%/3);
        @media screen and (max-width:400px) {
            top: 38%;
            width: calc(100%/1.5);
        }

    }
}


// content

/* 初めての教会 */

.container_howto {
    width: 100%;
    margin: 100px auto 0 auto;
    display: flex;
    overflow: hidden;
    position: relative;

    @media screen and (max-width:768px) {
        margin: 30px auto 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .howto_discription {
        padding: 0 50px;
        flex-basis: 50%;

        @media screen and (max-width:768px) {
            flex-basis: 100%;
            padding: 30px 30px 30px 30px;
            font-size: small;
            order: 1;
        }
    }
    .howto_pic {
        overflow: hidden;
        flex-basis: 50%;
        position: relative;

        @media screen and (max-width:768px) {
            flex-basis: 100%;
            margin: auto;
            order: 0;
        }

        .content_pic {
            position: relative;

            img {
                width: 768px;
                @media screen and (max-width:768px){
                    width: 100%;
                }
            }
            
            /* hover click pc*/

            .caption {
                font-size: 130%;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
                color: #fff;

                @media screen and (max-width:768px){
                    padding: 10px 30px;
                    border-top: double 4px #fff;
                    border-bottom: double 4px #fff;
                }
            }

            .mask {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0%;
                left: 0%;
                opacity: 0;
                background-color: rgba(0,0,0,0.4);
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;

                @media screen and (max-width:768px){
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    opacity: 1;
                    background-color: rgba(0,0,0,0.3);
                    // -webkit-transition: all 0.2s ease;
                    // transition: all 0.2s ease;
                }
            }

            &:hover .mask {
                opacity: 1;
            }
        }

        
    }
}

.container_profile {
    width: 100%;
    margin: 100px auto 0 auto;
    display: flex;
    overflow: hidden;
    position:relative;

    @media screen and (max-width:768px) {
        margin: 30px auto 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .profile_discription {
        padding: 0 50px;
        flex-basis: 50%;

        @media screen and (max-width:768px) {
            flex-basis: 100%;
            padding: 30px 30px 30px 30px;
            font-size: small;
            order: 1;
        }
    }
    .profile_pic {
        overflow: hidden;
        flex-basis: 50%;
        position: relative;

        @media screen and (max-width:768px) {
            flex-basis: 100%;
            margin: auto;
            order: 0;
        }

        .content_pic {
            position: relative;

            img {
                width: 768px;
                @media screen and (max-width:768px){
                    width: 100%;
                }
            }
            
            /* hover click pc*/

            .caption {
                font-size: 130%;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
                color: #fff;

                @media screen and (max-width:768px){
                    padding: 10px 30px;
                    border-top: double 4px #fff;
                    border-bottom: double 4px #fff;
                }
            }

            .mask {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0%;
                left: 0%;
                opacity: 0;
                background-color: rgba(0,0,0,0.4);
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;

                @media screen and (max-width:768px){
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    opacity: 1;
                    background-color: rgba(0,0,0,0.3);
                    // -webkit-transition: all 0.2s ease;
                    // transition: all 0.2s ease;
                }
            }

            &:hover .mask {
                opacity: 1;
            }
        }
    }

}

.container_misa {
    width: 100%;
    margin: 100px auto 0 auto;
    display: flex;
    overflow: hidden;
    position:relative;

    @media screen and (max-width:768px) {
        margin: 30px auto 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .misa_discription {
        padding: 0 50px;
        flex-basis: 50%;

        @media screen and (max-width:768px) {
            flex-basis: 100%;
            padding: 30px 30px 30px 30px;
            font-size: small;
            order: 1;
        }
    }
    .misa_pic {
        overflow: hidden;
        flex-basis: 50%;
        position: relative;

        @media screen and (max-width:768px) {
            flex-basis: 100%;
            margin: auto;
            order: 0;
        }

        .content_pic {
            position: relative;

            img {
                width: 768px;
                @media screen and (max-width:768px){
                    width: 100%;
                }
            }
            
            /* hover click pc*/

            .caption {
                font-size: 130%;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
                color: #fff;

                @media screen and (max-width:768px){
                    padding: 10px 30px;
                    border-top: double 4px #fff;
                    border-bottom: double 4px #fff;
                }
            }

            .mask {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0%;
                left: 0%;
                opacity: 0;
                background-color: rgba(0,0,0,0.4);
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;

                @media screen and (max-width:768px){
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    opacity: 1;
                    background-color: rgba(0,0,0,0.3);
                    // -webkit-transition: all 0.2s ease;
                    // transition: all 0.2s ease;
                }
            }

            &:hover .mask {
                opacity: 1;
            }
        }
    }
}

.content_pic {
    width: 100%;   
}

.container_qna {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 400px) {
        display: block;
    }
    

    img { 
        width: calc(100%);
        height: 500px;
        object-fit: cover;

        @media screen and (max-width: 400px) {
            height: auto;
            padding: 0;
        }
    }

    .qna1 {
        position: relative;

        h1{
            color: #fff;
            width: 100%;
            height: 100%;
            margin: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,0.5);
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-transition:	all 0.6s ease;
	        transition:	all 0.6s ease;
    
            &:hover {
                opacity: 1;
            }

            @media screen and (max-width: 400px) {
                color: #fff;
                width: 50%;
                height: 100%;
                margin: 0;
                position: absolute;
                left: 50%;
                bottom: 0;
                background: rgba(0,0,0,0.7);
                opacity: 1;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .qna2 {
        position: relative;

        h1{
            color: #fff;
            width: 100%;
            height: 100%;
            margin: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,0.5);
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-transition:	all 0.6s ease;
	        transition:	all 0.6s ease;
    
            &:hover {
                opacity: 1;
            }

            @media screen and (max-width: 400px) {
                color: #fff;
                width: 50%;
                height: 100%;
                margin: 0;
                position: absolute;
                left: 50%;
                bottom: 0;
                background: rgba(0,0,0,0.7);
                opacity: 1;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .qna3 {
        position: relative;

        h1{
            color: #fff;
            width: 100%;
            height: 100%;
            margin: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,0.5);
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-transition:	all 0.6s ease;
	        transition:	all 0.6s ease;
    
            &:hover {
                opacity: 1;
            }

            @media screen and (max-width: 400px) {
                color: #fff;
                width: 50%;
                height: 100%;
                margin: 0;
                position: absolute;
                left: 50%;
                bottom: 0;
                background: rgba(0,0,0,0.7);
                opacity: 1;
                align-items: center;
                justify-content: center;
            }
        }
    }
    
}

// howto

.howto_hero {
    width: 100%;
}

.howto_text {
    padding: 5%;

    .section1 {
        display: flex;
        align-items: center;
        margin-bottom: 70px;

        .section1_pic {
            flex-basis: 40%;    

            img {
                width: 100%;
                box-shadow: 10px 10px 30px 5px rgba(0,0,0,0.2);
            }
        }

        .section1_discription {
            flex-basis: 60%;
            padding: 5%;
        }
    }

    .section2 {
        display: flex;
        align-items: center;
        margin-bottom: 70px;

        .section2_pic {
            flex-basis: 40%;    

            img {
                width: 100%;
                box-shadow: 10px 10px 30px 5px rgba(0,0,0,0.2);
            }
        }

        .section2_discription {
            flex-basis: 60%;
            padding: 5%;
        }
    }

    .section3 {
        display: flex;
        align-items: center;
        margin-bottom: 70px;

        .section3_pic {
            flex-basis: 40%;    

            img {
                width: 100%;
                box-shadow: 10px 10px 30px 5px rgba(0,0,0,0.2);
            }
        }

        .section3_discription {
            flex-basis: 60%;
            padding: 5%;
        }
    }

    .section4 {
        align-items: center;
        margin-bottom: 70px;

        .section4_discription {
            padding: 5%;    
        }
    }

    .section5 {
        display: flex;
        align-items: center;
        margin-bottom: 70px;

        .section5_pic {
            flex-basis: 40%;    

            img {
                width: 100%;
                box-shadow: 10px 10px 30px 5px rgba(0,0,0,0.2);
            }
        }

        .section5_discription {
            flex-basis: 60%;
            padding: 5%;
        }
    }

    .section6 {
        align-items: center;
        margin-bottom: 70px;

        .section6_discription {
            padding: 5%;    
        }
    }
}

// profile

.profile_hero {
    width: 100%;
}

// misa

.misa_hero {
    width: 100%;
}

// qna

.qna_hero {
    width: 100%;
}

// choir

.choir_hero {
    width: 100%;
}

// saishi

.saishi_hero {
    width: 100%;
}




// footer

footer {
    background-color: #ffffff;
}

.container-footer-text {
    text-align: center;
    z-index: 999;
}