@charset "UTF-8";
body {
  margin: 0px;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #303030;
}

/* global navigation */
#g-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 70%;
  width: 70%;
  height: 100vh;
  background: #ffffff;
  opacity: 0.95;
  transition: all 1s;
}

#g-nav.panelactive {
  right: 0;
}

#g-nav.panelactive #g-nav-list {
  position: fixed;
  z-index: 999;
  width: 70%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav ul {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a h1 {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
@media screen and (max-width: 400px) {
  #g-nav li a h1 {
    font-size: smaller;
  }
}

#g-nav li span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 0;
  height: 1px;
  border-radius: 2px;
  background-color: #ffffff;
  width: 100%;
}

.open_btn {
  position: fixed;
  z-index: 9999; /*ボタンを最前面に*/
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.open_btn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: -14px;
  height: 1px;
  border-radius: 2px;
  background-color: #ede3d3;
  width: 100%;
}

.open_btn span:nth-of-type(1) {
  top: 15px;
}

.open_btn span:nth-of-type(2) {
  top: 23px;
}

.open_btn span:nth-of-type(3) {
  top: 31px;
}

.open_btn.active span:nth-of-type(1) {
  top: 18px;
  left: -18px;
  transform: translateY(6px) rotate(-45deg);
  width: 100%;
}

.open_btn.active span:nth-of-type(2) {
  opacity: 0;
}

.open_btn.active span:nth-of-type(3) {
  top: 30px;
  left: -18px;
  transform: translateY(-6px) rotate(45deg);
  width: 100%;
}

/* hero mp4 */
.hero_container {
  position: relative;
  width: 100%;
  height: 100%;
  /* hero logo */
}
.hero_container .hero_mov {
  width: 100%;
}
@media screen and (max-width: 400px) {
  .hero_container .hero_mov {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.hero_container .hero_logo {
  z-index: 900;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 33.3333333333%;
}
@media screen and (max-width: 400px) {
  .hero_container .hero_logo {
    top: 38%;
    width: 66.6666666667%;
  }
}

/* 初めての教会 */
.container_howto {
  width: 100%;
  margin: 100px auto 0 auto;
  display: flex;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container_howto {
    margin: 30px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
.container_howto .howto_discription {
  padding: 0 50px;
  flex-basis: 50%;
}
.container_howto .howto_discription h1 {
  font-size: 2em;
}
@media screen and (max-width: 768px) {
  .container_howto .howto_discription {
    flex-basis: 100%;
    padding: 30px 30px 30px 30px;
    font-size: small;
    order: 1;
  }
}
.container_howto .howto_pic {
  overflow: hidden;
  flex-basis: 50%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container_howto .howto_pic {
    flex-basis: 100%;
    margin: auto;
    order: 0;
  }
}
.container_howto .howto_pic .content_pic {
  position: relative;
  /* hover click pc*/
}
.container_howto .howto_pic .content_pic img {
  width: 768px;
}
@media screen and (max-width: 768px) {
  .container_howto .howto_pic .content_pic img {
    width: 100%;
  }
}
.container_howto .howto_pic .content_pic .caption {
  font-size: 130%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  color: #fff;
}
@media screen and (max-width: 768px) {
  .container_howto .howto_pic .content_pic .caption {
    padding: 10px 30px;
    border-top: double 4px #fff;
    border-bottom: double 4px #fff;
  }
}
.container_howto .howto_pic .content_pic .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}
@media screen and (max-width: 768px) {
  .container_howto .howto_pic .content_pic .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.container_howto .howto_pic .content_pic:hover .mask {
  opacity: 1;
}

.container_profile {
  width: 100%;
  margin: 100px auto 0 auto;
  display: flex;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container_profile {
    margin: 30px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
.container_profile .profile_discription {
  padding: 0 50px;
  flex-basis: 50%;
}
.container_profile .profile_discription h1 {
  font-size: 2em;
}
@media screen and (max-width: 768px) {
  .container_profile .profile_discription {
    flex-basis: 100%;
    padding: 30px 30px 30px 30px;
    font-size: small;
    order: 1;
  }
}
.container_profile .profile_pic {
  overflow: hidden;
  flex-basis: 50%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container_profile .profile_pic {
    flex-basis: 100%;
    margin: auto;
    order: 0;
  }
}
.container_profile .profile_pic .content_pic {
  position: relative;
  /* hover click pc*/
}
.container_profile .profile_pic .content_pic img {
  width: 768px;
}
@media screen and (max-width: 768px) {
  .container_profile .profile_pic .content_pic img {
    width: 100%;
  }
}
.container_profile .profile_pic .content_pic .caption {
  font-size: 130%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  color: #fff;
}
@media screen and (max-width: 768px) {
  .container_profile .profile_pic .content_pic .caption {
    padding: 10px 30px;
    border-top: double 4px #fff;
    border-bottom: double 4px #fff;
  }
}
.container_profile .profile_pic .content_pic .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}
@media screen and (max-width: 768px) {
  .container_profile .profile_pic .content_pic .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.container_profile .profile_pic .content_pic:hover .mask {
  opacity: 1;
}

.container_misa {
  width: 100%;
  margin: 100px auto 0 auto;
  display: flex;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container_misa {
    margin: 30px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
.container_misa .misa_discription {
  padding: 0 50px;
  flex-basis: 50%;
}
.container_misa .misa_discription h1 {
  font-size: 2em;
}
@media screen and (max-width: 768px) {
  .container_misa .misa_discription {
    flex-basis: 100%;
    padding: 30px 30px 30px 30px;
    font-size: small;
    order: 1;
  }
}
.container_misa .misa_pic {
  overflow: hidden;
  flex-basis: 50%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container_misa .misa_pic {
    flex-basis: 100%;
    margin: auto;
    order: 0;
  }
}
.container_misa .misa_pic .content_pic {
  position: relative;
  /* hover click pc*/
}
.container_misa .misa_pic .content_pic img {
  width: 768px;
}
@media screen and (max-width: 768px) {
  .container_misa .misa_pic .content_pic img {
    width: 100%;
  }
}
.container_misa .misa_pic .content_pic .caption {
  font-size: 130%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  color: #fff;
}
@media screen and (max-width: 768px) {
  .container_misa .misa_pic .content_pic .caption {
    padding: 10px 30px;
    border-top: double 4px #fff;
    border-bottom: double 4px #fff;
  }
}
.container_misa .misa_pic .content_pic .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}
@media screen and (max-width: 768px) {
  .container_misa .misa_pic .content_pic .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.container_misa .misa_pic .content_pic:hover .mask {
  opacity: 1;
}

.content_pic {
  width: 100%;
}

.container_qna {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 400px) {
  .container_qna {
    display: block;
  }
}
.container_qna img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 400px) {
  .container_qna img {
    height: auto;
    padding: 0;
  }
}
.container_qna .qna1 {
  position: relative;
}
.container_qna .qna1 h1 {
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease;
}
.container_qna .qna1 h1:hover {
  opacity: 1;
}
@media screen and (max-width: 400px) {
  .container_qna .qna1 h1 {
    color: #fff;
    width: 50%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    align-items: center;
    justify-content: center;
  }
}
.container_qna .qna2 {
  position: relative;
}
.container_qna .qna2 h1 {
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease;
}
.container_qna .qna2 h1:hover {
  opacity: 1;
}
@media screen and (max-width: 400px) {
  .container_qna .qna2 h1 {
    color: #fff;
    width: 50%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    align-items: center;
    justify-content: center;
  }
}
.container_qna .qna3 {
  position: relative;
}
.container_qna .qna3 h1 {
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease;
}
.container_qna .qna3 h1:hover {
  opacity: 1;
}
@media screen and (max-width: 400px) {
  .container_qna .qna3 h1 {
    color: #fff;
    width: 50%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    align-items: center;
    justify-content: center;
  }
}

.howto_hero {
  width: 100%;
}

.howto_text {
  padding: 5%;
}
.howto_text .section1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 70px;
}
.howto_text .section1 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 45%;
  height: 1px;
  border-radius: 2px;
  background-color: #303030;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .howto_text .section1 span {
    left: 9%;
    width: 80%;
  }
}
.howto_text .section1 .section1_pic {
  flex-basis: 40%;
}
@media screen and (max-width: 768px) {
  .howto_text .section1 .section1_pic {
    flex-basis: 100%;
    order: 0;
  }
}
.howto_text .section1 .section1_pic img {
  width: 100%;
  box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.howto_text .section1 .section1_discription {
  flex-basis: 60%;
  padding: 5% 0% 5% 5%;
  line-height: 2em;
}
@media screen and (max-width: 768px) {
  .howto_text .section1 .section1_discription {
    flex-basis: 100%;
    padding: 5%;
    order: 1;
  }
}
.howto_text .section2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 70px;
}
.howto_text .section2 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 4%;
  height: 1px;
  border-radius: 2px;
  background-color: #303030;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .howto_text .section2 span {
    left: 9%;
    width: 80%;
  }
}
.howto_text .section2 .section2_pic {
  flex-basis: 40%;
}
@media screen and (max-width: 768px) {
  .howto_text .section2 .section2_pic {
    flex-basis: 100%;
    order: 0;
  }
}
.howto_text .section2 .section2_pic img {
  width: 100%;
  box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.howto_text .section2 .section2_discription {
  flex-basis: 60%;
  padding: 5% 5% 5% 0%;
  line-height: 2em;
}
@media screen and (max-width: 768px) {
  .howto_text .section2 .section2_discription {
    flex-basis: 100%;
    padding: 5%;
    order: 1;
  }
}
.howto_text .section3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 70px;
}
.howto_text .section3 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 45%;
  height: 1px;
  border-radius: 2px;
  background-color: #303030;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .howto_text .section3 span {
    left: 9%;
    width: 80%;
  }
}
.howto_text .section3 .section3_pic {
  flex-basis: 40%;
}
@media screen and (max-width: 768px) {
  .howto_text .section3 .section3_pic {
    flex-basis: 100%;
    order: 0;
  }
}
.howto_text .section3 .section3_pic img {
  width: 100%;
  box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.howto_text .section3 .section3_discription {
  flex-basis: 60%;
  padding: 5% 0% 5% 5%;
  line-height: 2em;
}
@media screen and (max-width: 768px) {
  .howto_text .section3 .section3_discription {
    flex-basis: 100%;
    padding: 5%;
    order: 1;
  }
}
.howto_text .section4 {
  align-items: center;
  position: relative;
  width: 70%;
  margin: 0 auto 70px auto;
  border: solid 3px #303030;
  border-radius: 3px;
  color: #303030;
}
@media screen and (max-width: 768px) {
  .howto_text .section4 {
    width: 95%;
  }
}
.howto_text .section4 .section4_title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 10px;
  line-height: 1;
  font-size: 1.3em;
  background: #ffffff;
  color: #303030;
}
.howto_text .section4 .section4_discription {
  padding: 3% 5% 3% 5%;
  line-height: 2em;
}
.howto_text .section4 .section4_text {
  font-size: 0.9em;
}
.howto_text .section5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 70px;
}
.howto_text .section5 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 45%;
  height: 1px;
  border-radius: 2px;
  background-color: #303030;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .howto_text .section5 span {
    left: 9%;
    width: 80%;
  }
}
.howto_text .section5 .section5_pic {
  flex-basis: 40%;
}
@media screen and (max-width: 768px) {
  .howto_text .section5 .section5_pic {
    flex-basis: 100%;
    order: 0;
  }
}
.howto_text .section5 .section5_pic img {
  width: 100%;
  box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.howto_text .section5 .section5_discription {
  flex-basis: 60%;
  padding: 5% 5% 5% 0%;
  line-height: 2em;
}
@media screen and (max-width: 768px) {
  .howto_text .section5 .section5_discription {
    flex-basis: 100%;
    padding: 5%;
    order: 1;
  }
}
.howto_text .section6 {
  align-items: center;
  position: relative;
  width: 70%;
  margin: 0 auto 70px auto;
  border: solid 3px #303030;
  border-radius: 3px;
  color: #303030;
}
@media screen and (max-width: 768px) {
  .howto_text .section6 {
    width: 95%;
  }
}
.howto_text .section6 .section6_title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 10px;
  line-height: 1;
  font-size: 1.3em;
  background: #ffffff;
  color: #303030;
}
.howto_text .section6 .section6_discription {
  padding: 3% 5% 3% 5%;
  line-height: 2em;
}
.howto_text .section6 .section6_text {
  font-size: 0.9em;
}
.howto_text .section7 {
  padding: 3% 5% 3% 5%;
  margin-bottom: 70px;
}

.profile_hero {
  width: 100%;
}

.history {
  line-height: 2em;
  padding: 10%;
}

.profile {
  padding: 5%;
  line-height: 2em;
  margin-bottom: 70px;
}
.profile .profile_1 {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .profile .profile_1 {
    flex-wrap: wrap;
  }
}
.profile .profile_1 .misa {
  flex-basis: 33%;
  margin: auto 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .profile .profile_1 .misa {
    flex-basis: 100%;
    text-align: left;
    order: 0;
  }
}
.profile .profile_1 .misa_discription {
  flex-basis: 67%;
}
@media screen and (max-width: 768px) {
  .profile .profile_1 .misa_discription {
    flex-basis: 100%;
    order: 1;
  }
}
.profile .profile_2 {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .profile .profile_2 {
    flex-wrap: wrap;
  }
}
.profile .profile_2 .church {
  flex-basis: 33%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .profile .profile_2 .church {
    flex-basis: 100%;
    text-align: left;
    order: 0;
  }
}
.profile .profile_2 .church_discription {
  flex-basis: 67%;
}
@media screen and (max-width: 768px) {
  .profile .profile_2 .church_discription {
    flex-basis: 100%;
    order: 1;
  }
}
.profile .profile_3 {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .profile .profile_3 {
    flex-wrap: wrap;
  }
}
.profile .profile_3 .study {
  flex-basis: 33%;
  margin: auto 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .profile .profile_3 .study {
    flex-basis: 100%;
    text-align: left;
    order: 0;
  }
}
.profile .profile_3 .study_discription {
  flex-basis: 67%;
}
@media screen and (max-width: 768px) {
  .profile .profile_3 .study_discription {
    flex-basis: 100%;
    order: 1;
  }
}
.profile .profile_4 {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .profile .profile_4 {
    flex-wrap: wrap;
  }
}
.profile .profile_4 .ceremony {
  flex-basis: 33%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .profile .profile_4 .ceremony {
    flex-basis: 100%;
    text-align: left;
    order: 0;
  }
}
.profile .profile_4 .ceremony_discription {
  flex-basis: 67%;
}
@media screen and (max-width: 768px) {
  .profile .profile_4 .ceremony_discription {
    flex-basis: 100%;
    order: 1;
  }
}
.profile .profile_5 {
  display: flex;
}
@media screen and (max-width: 768px) {
  .profile .profile_5 {
    flex-wrap: wrap;
  }
}
.profile .profile_5 .car {
  flex-basis: 33%;
  margin: auto 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .profile .profile_5 .car {
    flex-basis: 100%;
    text-align: left;
    order: 0;
  }
}
.profile .profile_5 .car_discription {
  flex-basis: 67%;
}
@media screen and (max-width: 768px) {
  .profile .profile_5 .car_discription {
    flex-basis: 100%;
    order: 1;
  }
}

.misa_hero {
  width: 100%;
}

.misa_info {
  padding: 5%;
  line-height: 2em;
  margin-bottom: 70px;
}
.misa_info h1, .misa_info h2, .misa_info h3, .misa_info p {
  text-align: left;
}
.misa_info span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 0%;
  height: 1px;
  border-radius: 2px;
  background-color: #303030;
  width: 100%;
}

.qna_hero {
  width: 100%;
}

.headline {
  margin: 30px 30px 100px 30px;
  padding: 3% 10%;
  position: relative;
  border-top: solid 2px black;
  border-bottom: solid black;
}

.headline:before, .headline:after {
  content: "";
  position: absolute;
  top: -7px;
  width: 2px;
  height: calc(100% + 17px);
  background-color: black;
}

.headline:before {
  left: 7px;
}

.headline:after {
  right: 7px;
}

.qna_text {
  padding: 0% 10% 5% 10%;
}
.qna_text h2 {
  margin-top: 60px;
}
.qna_text .q {
  display: flex;
  width: 100%;
  margin: 6% 0 3% 0;
}
@media screen and (max-width: 768px) {
  .qna_text .q {
    margin: 10% 0 10% 0;
  }
}
.qna_text .q .q_img {
  flex-basis: 10%;
  margin: auto auto;
}
@media screen and (max-width: 768px) {
  .qna_text .q .q_img {
    flex-basis: 20%;
  }
}
.qna_text .q .q_img .q {
  width: 30px;
  vertical-align: middle;
  text-align: center;
}
.qna_text .q .q_text {
  flex-basis: 90%;
  margin: auto auto;
}
@media screen and (max-width: 768px) {
  .qna_text .q .q_text {
    flex-basis: 80%;
  }
}
.qna_text .q .q_text p {
  margin-top: 0;
  vertical-align: middle;
}
.qna_text .a {
  display: flex;
  width: 100%;
  margin: 0 0 3% 0;
}
@media screen and (max-width: 768px) {
  .qna_text .a {
    margin: 0 0 5% 0;
  }
}
.qna_text .a .a_img {
  flex-basis: 10%;
  margin: auto auto;
}
@media screen and (max-width: 768px) {
  .qna_text .a .a_img {
    flex-basis: 20%;
  }
}
.qna_text .a .a_img .a {
  width: 30px;
  vertical-align: middle;
  text-align: center;
}
.qna_text .a .a_text {
  flex-basis: 90%;
  margin: auto auto;
}
@media screen and (max-width: 768px) {
  .qna_text .a .a_text {
    flex-basis: 80%;
  }
}
.qna_text .a .a_text p {
  margin-top: 0;
  vertical-align: middle;
}
.qna_text span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 10%;
  height: 1px;
  border-radius: 2px;
  background-color: #303030;
  width: 80%;
}

.choir_hero {
  width: 100%;
}

.choir_info {
  padding: 5% 10% 0% 10%;
}
.choir_info h3 {
  padding: 0.25em 0.5em;
  color: #303030;
  background: transparent;
  border-left: solid 5px #303030;
}
.choir_info p {
  line-height: 2em;
}

.saishi_hero {
  width: 100%;
}

.saishi {
  padding: 2% 3% 0% 3%;
  display: flex;
  align-items: center;
  margin-bottom: 140px;
}
@media screen and (max-width: 768px) {
  .saishi {
    flex-wrap: wrap;
    padding: 10% 0 0 0;
  }
}
.saishi .saishi_pic {
  flex-basis: 30%;
}
@media screen and (max-width: 768px) {
  .saishi .saishi_pic {
    flex-basis: 100%;
    order: 0;
  }
}
.saishi .saishi_pic .img {
  text-align: center;
}
.saishi .saishi_pic .img img {
  width: 300px;
  box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.saishi .saishi_pic .text p {
  text-align: center;
}
.saishi .saishi_discription {
  flex-basis: 70%;
  padding: 0 5%;
  line-height: 2em;
}
@media screen and (max-width: 768px) {
  .saishi .saishi_discription {
    flex-basis: 100%;
    order: 1;
  }
}

footer {
  background-color: #ffffff !important;
}

.container-footer-text {
  text-align: center;
  z-index: 999;
}/*# sourceMappingURL=app.css.map */