.gnavi li a {
    position: relative;
    display: block;
    overflow: hidden;
    transition: all .2s;

}

.gnavi li a:hover {
    background: #303030;
    color: #fff;
    transition-delay: .5s;
}

.gnavi li a:before, .gnavi li a:after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: #303030;
    transition: all .5s;
}

.gnavi li a::before {
    top: 0;
    transform: translateX(-100%);
}

.gnavi li a::after {
    bottom: 0;
    transform: translateX(100%);
}
.gnavi li a:hover::before, .gnavii li a:hover::after {
    transform: translateX(0);
}
